.detailButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.detailButtonContainer-button{
    border-radius: 5px;
    padding: 5px;
    background-color:#626D62;
    color: white;
    border: 2px #0CCD12 solid;
    font-weight: bold;
    height: 2rem;
    width: 7rem;
}
.detailContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.detailContainer-target{
    display: flex;
    flex-direction: column;
    background-color: #13B20E;
    border: #0CCD12 solid 2px;
    border-radius: 20px;
    align-items: center;
}
.detailContainer-target figure{
    margin: 1rem auto;
    margin-bottom: 1rem;
    width: 90%;
}
.detailContainer-target figure img{
    width: 100%;
    border-radius: 20px;
    border: #A50EB2 solid 2px
}
.detailContainer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 1rem;
    width: 280px;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.detailContainer-info h2{
    text-align: center;
}

@media (min-width: 500px){
    .detailButton{
        margin-left: 24rem;
    }
    .detailContainer-target{
        flex-direction: row;
    }
    .detailContainer-target figure{
        margin-left: 1rem;
    }
}
@media (min-width: 1024px){
    .detailButton{
        margin-left: 36rem;
    }
}