.navContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: #A50EB2;
    box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.navContainer:hover{
    background-color: #650065;
}
.navContainer figure{
    width: 150px;
    height: auto;
}
.navContainer figure img{
    width: 100%;
    height: 100%;
    /* transition: transform 0.5s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2) */
}
.navContainer-routes{
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}
.navContainer-routes li{
    list-style: none;
    font-size: 1rem;
}
.navContainer-routes li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.navContainer-search{
    display: flex;
    justify-content: center;
    flex: 1;
}
.active{
    text-decoration: none;
    color: #14DECE;
}
.disable{
    text-decoration: none;
    color: #0CCD12;
}
@media (min-width: 500px){
    .navContainer{
        padding: 1rem;
    }
   .navContainer-search{
        margin: 0 auto;
   }
   .navContainer figure{
        width: 180px;
   }
   .navContainer-routes{
        flex: 1 50%;
        justify-content: flex-end;
   }
 }

 @media (min-width: 1024px){
    .navContainer-search{
        flex: 1 100%;
    }
 }