.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: .5rem;
}
.aboutContainer{
    height: auto;
    margin: .5rem;
    border: 2px solid #000;
    background-color: lightgrey;
    border-radius: 20px;
}
.aboutContainer-button{
    border-radius: 5px;
    padding: 5px;
    background-color:#626D62;
    color: white;
    border: 2px #0CCD12 solid;
    font-weight: bold;
    height: 2rem;
}
.aboutContainer-button:hover{
    cursor: pointer;
}
.aboutContainer article{
    width: 100%;
    border-radius: 20px;
}
.aboutContainer article figure{
    width: fit-content;
}
.aboutContainer article figure img{
    width: 100%;
    border-radius: 20px;
}
.aboutContainer-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

@media (min-width: 500px){
    .aboutContainer{
        width: 500px;
    }
}