.favoritesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.favoritesContainer-select{
    display: flex;
    justify-content: center;
    height: 2rem;
    gap: 2rem;
    margin-top: 1rem;
}
.favoritesContainer-select select{
    border-radius: 5px;
    padding: 5px;
    background-color:#626D62;
    color: white;
    border: 2px #0CCD12 solid;
    font-weight: bold;
    height: 2rem;
}
.favoritesContainer-select select:hover{
    background-color: #ED3CF0;
    transform: scale(1.1);
    cursor: pointer;
    color: #000;
    border: 2px #000 solid;
}
@media (min-width: 500px){
    .favoritesContainer{
        gap: 4rem;
    }
}